@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  body {
    @apply bg-gray-700; 
    @apply text-white;
  }
}

nav {
  position: relative;
}

/* Wavy NavBar styling */ 
nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  bottom: -44px;
  --mask:
    radial-gradient(67.08px at 50% calc(100% - 90px),#000000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60px),#0000 99%,#000000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  @apply bg-gray-800;
  pointer-events: none;
  z-index: 10;
  border: 0 solid transparent;
}

